# Системные файлы и файлы ОС
.DS_Store
Thumbs.db
*~

# Настройки редакторов и IDE
.vscode/
.idea/
!.idea/copyright/

# Директории сборки
build/

# Директории отчётов
reports/

# Объектные файлы
*.o

# Библиотеки
*.a
*.so
